:root {
    --se_main: #11b0e1
  }

.footer-content {
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid white;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}


.footer_element {
    flex: 1;
}

.contact-icon {
    width: 30px;
}