body {
    font-family: "Rajdhani", sans-serif;
    overflow-x: hidden;
}

.nav-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 15px 35px 10px;
}

.home-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.logo_image {
    flex: 1;
}
.logoimage {
    flex: 1;
    max-width: 175px;
}

.navmenu {
    flex: 1;
}

.navbar-container {
    text-align: right;
}

.navbar {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.list-item::marker {
    content: none;
}

.list-item:hover {
    transform: scale(1.1);
    transition: 0.30s ease-in-out;
    text-decoration: line-through;
}

.menu-link {
    flex: 1;
    color: white;
}
