:root {
  --se_main: #11b0e1;
  --text: #ffffff;
  --grey: #908989;
  --navScroll: #00000090;
}

/*
GLOBAL
*/

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  scrollbar-width: thin;
  line-height: 1.8;
}

::-webkit-scrollbar {
  width: 1px;
  color: white;
}

::marker {
  content: "";
}

.h3_header {
  font-size: 25px;
  margin: 5% 0% 0% 1%;
}

.content-container {
  margin: 5% 5% 5%;
}

.image {
  width: 100%;
}

.hide {
  display: none;
  visibility: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

/*
INDEX_PAGE
*/

.index-image-container {
  position: relative;
  width: 100%;
}

.index-image-content {
  margin-top: 5%;
  position: absolute;
  width: 50%;
  top: 45%;
  left: 25%;
}

.index-image-text {
  font-size: 20px;
  text-align: center;
  margin: 0px 0px 25px 0px;
}

.main_img {
  width: 100%;
  margin-top: 7%;
}

.index-options {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.index-options.hidden {
  display: none;
}

.index-btn {
  flex: 0.5;
  text-align: center;
}

.index_btn_image {
  width: 60%;
}

.index_btn_image:hover {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#browse_btn,
#mymovies_btn {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

#browse_btn .index-btn,
#mymovies_btn .index-btn {
  flex: 0.5;
  text-align: center;
}

#browse_btn .index_btn_image,
#mymovies_btn .index_btn_image {
  width: 60%;
}

#browse_btn .index_btn_image:hover,
#mymovies_btn .index_btn_image:hover {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
}
/*Index_stream_section*/
.stream_here {
  padding: 5% 5%;
}

.stream_column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.stream_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stream_image {
  width: 80%;
}

/*Index_download_section*/
.download_wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5% 5%;
  padding: 5% 5%;
}

.download-header {
  text-align: center;
  margin-bottom: 20px;
}

.download_element {
  flex: 1;
}

.landscape-image {
  width: 75%;
}

.buffer-div {
  height: 70px;
}

/*Index_FAQ_section*/
.frequently {
  margin: 10%;
}

.faq-heading {
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid var(--text);
  padding: 20px 40px;
  margin: 0;
  text-align: center;
}

.faq-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.faq-divider {
  width: 60%;
  margin: 0 auto;
  border: none;
  border-top: 1px solid var(--text);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey);
  cursor: pointer;
  padding: 10px 19px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 0 auto;
  font-weight: normal;
}

.faq-question:hover {
  color: var(--text);
  background-color: var(--se_main);
  transition: 0.3s ease-in-out;
}
.faq-answer {
  margin: 0 auto;
  width: 50%;
  padding: 0;
  display: none;
}

.question_p {
  text-align: start;
}

.faq-answer--open {
  display: block;
}

.faq-answer--closed {
  display: none;
}

.faq-question .faq-toggle {
  border: none;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  color: var(--se_main);
}

.faq-question.active .faq-toggle {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/*
ABOUT
*/

.director_image {
  width: 100%;
}

.story_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.story {
  padding: 1%;
}

.story_text_container {
  flex: 2;
}

.story_image_container {
  flex: 1;
  padding: 1%;
}
.story_image {
  width: 100%;
}
.team_image_container {
  text-align: center;
  margin: auto;
  padding: 5% 0% 0% 0%;
}

.team_image {
  width: 90%;
}

/*
COMMUNITY_PAGE
*/

.community_image_container {
  text-align: center;
}

.community_image {
  width: 90%;
}
/*Reviews*/

.review-wrapper_rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5% 0%;
}

.review {
  flex: 1;
}

.reviewer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 0% 5%;
}

.review-text {
  text-align: center;
}

.review_image_wrapper {
  flex: 1;
  padding: 0% 5%;
}

.reviewpic {
  width: 100%;
  border-radius: 5%;
}

/*
LOGIN_PAGE
*/

.login,
.signup {
  padding: 5%;
  margin: 0% auto;
  width: 40%;
}

.login-header,
.signup-header {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}

input[type="button"] {
  padding: 10px;
  margin: 5px;
  background-color: var(--se_main);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #3a5cb9;
}

/*
BROWSEINDEX_PAGE
*/

.movie_clip {
  width: 100%;
  height: 455px;
}

.index_movie_header {
  font-size: 20px;
}

.movies_row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
}

#movie-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 0% 1%;
}

.movie {
  flex: 1;
}

.movie_thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  position: relative; /* add this line */
}

.poster_img {
  border-radius: 5%;
  width: 100%;
  height: auto;
}

.poster_img:hover {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
}

.company_p {
  font-size: 13px;
}

/*
PROFILE
*/

.profile-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-element {
  flex: 2;
}

.view-cart-btn {
  background-color: black;
  border: none;
  cursor: pointer;
}

.view-cart-btn:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  border: 1px solid var(--se_main);
}

.view-cart-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 15px;
}

.cart-image-wrapper {
   width: 100px;
}

.cart-image {
  width: 100%;
}

.profile-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.profile-img-container {
  padding: 0% 5%;
}

.personalia {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  align-content: flex-start;
}

/*ABOUTMOVVIE*/

.i-container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
}

.rating_btn {
  max-width: 150px;
  padding: 0% 10%;
}

.cart_btn_img {
  width: 100%;
}

.cart_btn_img:hover {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
  border-radius: 15%;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  flex: 2;
  justify-content: flex-end;
}

.buy_movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.buy_item {
  flex: 1;
}

.rating_image_wrapper {
  width: 80%;
}

.rating_image_wrapper:hover {
  background-color: var(--se_main);
  border-radius: 5%;
}

.rating_btn_img {
  width: 100%;
  border-radius: 5%;
}

.rating_btn_img:hover {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
}

.cart_image_wrapper {
  width: 80%;
}

.cart_image_wrapper:hover {
  background-color: var(--se_main);
  border-radius: 5%;
}

.cart_btn_image_wrapper {
  width: 30%;
}

.trailer_header_text {
  margin: 2% 15%;
}

.movie-description {
  margin: 0% 20%;
}

/*purchase*/

.purchase-image {
  text-align: center;
}

.moviesummary {
  text-align: center;
}

.buymovie {
  border: 1px solid white;
  height: auto;
}

.complete {
  font-size: 25px;
}

/*SUCSSESS_PAGE*/

.buffer-success {
  height: 350px;
}

.ty {
  margin-top: 80px;
  font-size: 40px;
  text-align: center;
}

/*ABOUT*/

.team {
  width: 100%;
  height: auto;
}

/*
ABOUTMOV_PAGE
*/

/*
MEDIAQUERIES
*/

@media all and (device-width: 768px) {
  .index-image-content {
    margin-top: -35%;
  }
}

@media all and (device-width: 820px) {
  .index-image-content {
    margin-top: -35%;
  }
}

@media screen and (max-width: 550px) {
  /*GLOBAL*/
  body {
    text-align: center;
  }

  .content-container {
    margin: 0% 5%;
  }

  /*Index_Page*/

  .index-heading {
    font-size: 100%;
  }

  .page-container {
    margin: 0 10% 0 10%;
  }

  .index-image-content {
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
  }

  .index-options {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    position: relative;
    margin-top: 5%;
  }

  .index-image-buffer {
    flex: 1;
  }

  .buffer-div {
    height: 10%;
  }

  .stream_here {
    padding: 0;
  }

  .download-header {
    margin-bottom: 10px;
  }

  .download_wrapper {
    margin: 15% 0%;
    padding: 0% 5%;
  }

  .landscape_image {
    width: 90%;
  }

  .faq-heading {
    font-weight: 600;
  }

  .faq-question {
    width: 80%;
    font-size: 80%;
  }

  .faq-question:hover {
    width: 80%;
  }

  .question_p {
    text-align: center;
    width: 140%;
  }

  .faq-answer {
    margin: 0 auto;
    width: 80%;
    padding: 0;
    display: none;
  }
  .question_p {
    text-align: center;
    width: 100%;
  }

  .faq-divider {
    width: 100%;
  }

  /*ABOUT_PAGE*/
  .story_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  /*
 BROWSE_INDEX
 */

  .index_movie_header {
    font-size: 95%;
  }

  .movie {
    font-size: 70%;
  }
  /*
ABOUTMOV_PAGE
*/
  .i-container-row {
    align-items: stretch;
  }

  /*
  LOGIN_PAGE
  */
  .login,
  .signup {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .main_img {
    margin-top: 10%;
  }

  .stream_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px -25px;
  }

  .download-header {
    font-size: 80%;
    margin-bottom: 10px;
  }
  /*
ABOUTMOV_PAGE
*/
  .buy_movie {
    flex: 1;
    margin: 0% 5%;
  }
  .rating_link {
    flex: 1;
  }
  .rating {
    flex: 1;
    margin: 0% 5%;
  }
}
