:root {
  --se_main: #11b0e1;
  --text: #ffffff;
  --grey: #908989;
  --navScroll: #00000090;
}

/*
GLOBAL
*/

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  scrollbar-width: thin;
  line-height: 1.8;
}

::-webkit-scrollbar {
  width: 1px;
  color: white;
}

::marker {
  content: "";
}

.h3_header {
  font-size: 25px;
  margin: 5% 0% 0% 1%;
}

.content-container {
  margin: 5% 5% 5%;
}

.image {
  width: 100%;
}

/*
INDEX_PAGE
*/

.index-image-container {
  position: relative;
  width: 100%;
}

.index-image-content {
  position: absolute;
  width: 50%;
  top: 55%;
  left: 25%;
}

.index-image-text {
  font-size: 20px;
  text-align: center;
  margin: 0% 0% 0% 0%;
}

.main_img {
  width: 100%;
  margin-top: 7%;
}

.index-btns {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.index-btn {
  flex: 0.5;
  text-align: center;
}

.index_btn_image {
  width: 60%;
}

.index_btn_image:hover {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
}

/*Index_stream_section*/
.stream_here {
  padding: 10% 5%;
}

.stream_column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.stream_item {
  flex: 1;
}

.stream_image {
  width: 80%;
}

/*Index_download_section*/
.download_wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5% 0%;
  padding: 3% 0%;
}

.download_element {
  flex: 1;
}

.landscape-image {
  width: 75%;
}

.buffer-div {
  height: 70px;
}

/*Index_FAQ_section*/
.frequently {
  margin: 10%;
}

.faq-heading {
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid var(--text);
  padding: 20px 40px;
  margin: 0;
}

.faq-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.faq-divider {
  width: 60%;
  margin: 0 auto;
  border: none;
  border-top: 1px solid var(--text);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey);
  cursor: pointer;
  padding: 10px 19px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 0 auto;
  font-weight: normal;
}

.faq-question:hover {
  color: var(--text);
  background-color: var(--se_main);
  transition: 0.3s ease-in-out;
}
.faq-answer {
  margin: 0 auto;
  width: 50%;
  padding: 0;
  display: none;
}

.question_p {
  text-align: start;
}

.faq-answer--open {
  display: block;
}

.faq-answer--closed {
  display: none;
}

.faq-question .faq-toggle {
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  color: var(--se_main);
}

.faq-question.active .faq-toggle {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/*
ABOUT
*/

.director_image {
  width: 100%;
}

.story_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.story {
  padding: 1%;
}

.story_text_container {
  flex: 2;
}

.story_image_container {
  flex: 1;
  padding: 1%;
}
.story_image {
  width: 100%;
}
.team_image_container {
  text-align: center;
  margin: auto;
  padding: 5% 0% 5% 0%;
}

.team_image {
  width: 90%;
}

/*
COMMUNITY_PAGE
*/

.community_image_container {
  text-align: center;
}

.community_image {
  width: 90%;
}
/*Reviews*/

.review-wrapper_rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5% 0%;
}

.review {
  flex: 1;
}

.reviewer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 0% 5%;
}

.review-text {
  text-align: center;
}

.review_image_wrapper {
  flex: 1;
  padding: 0% 5%;
}

.reviewpic {
  width: 100%;
  border-radius: 5%;
}

/*
LOGIN_PAGE
*/

.text {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 45px;
}

.explore_btn {
  height: 100px;
}

.explore_btn:hover {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
}

/*LOGIN_PAGE*/

h2 {
  font-weight: 300;
  text-align: center;
}

.loginform-container {
  width: 500px;
  height: 200px;
  margin-bottom: 300px;
}

#login-form-wrap {
  background-color: #fff;
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
  padding: 5px 0 5px 0px;
  border-radius: 5px;
  box-shadow: 0px 30px 50px 0px rgb(0 0 0 / 20%);
}

#login-form {
  padding: 0 30px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="text"],
input[type="password"] {
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  background: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: var(--se_main);
}

input[type="text"]:focus:invalid,
input[type="password"]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}

input[type="text"]:valid ~ .validation,
input[type="password"]:valid ~ .validation {
  display: block;
  border-color: #0c0;
}

input[type="text"]:valid ~ .validation span,
input[type="password"]:valid ~ .validation span {
  background: #0c0;
  position: absolute;
  border-radius: 6px;
}

input[type="text"]:valid ~ .validation span:first-child,
input[type="password"]:valid ~ .validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="text"]:valid ~ .validation span:last-child,
input[type="password"]:valid ~ .validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.validation {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

input[type="submit"] {
  border: none;
  display: block;
  background-color: #3ca9e2;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*
BROWSEINDEX_PAGE
*/

.movie_clip {
  width: 100%;
  height: 455px;
}

.index_movie_header {
  font-size: 20px;
}

.movies_row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
}

#movie-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 0% 1%;
}

.movie {
  flex: 1;
}

.movie_thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  position: relative; /* add this line */
}

.poster_img {
  border-radius: 5%;
  width: 100%;
  height: auto;
}

.poster_img:hover {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
}

.company_p {
  font-size: 13px;
}

/*ABOUTMOVVIE*/

.i-container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
}

.rating_btn {
  max-width: 150px;
  padding: 0% 10%;
}

.cart_btn_img {
  width: 100%;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  flex: 2;
  justify-content: flex-end;
}

.buy_movie {
  flex: 1;
}

.rating_image_wrapper {
  width: 100%;
}

.rating_btn_img {
  width: 100%;
  border-radius: 5%;
}

.cart_image_wrapper {
  width: 100%;
}

.cart_btn_image_wrapper {
  width: 30%;
}

/*purchase*/

.purchase-image {
  text-align: center;
}

.moviesummary {
  text-align: center;
}

.buymovie {
  border: 1px solid white;
  height: auto;
}

.complete {
  font-size: 25px;
}

/*SUCSSESS_PAGE*/

.buffer-success {
  height: 350px;
}

.ty {
  margin-top: 80px;
  font-size: 40px;
  text-align: center;
}

/*ABOUT*/

.team {
  width: 100%;
  height: auto;
}

/*
MEDIAQUERIES
*/
@media screen and (max-width: 600px) {
  /*GLOBAL*/
  body {
    text-align: center;
  }

  .content-container {
    margin: 10% 10%;
  }

  /*Index_Page*/

  .page-container {
    margin: 0 10% 0 10%;
  }

  .main_img {
    margin-top: 27%;
  }

  .index-image-content {
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
  }

  .index-image-text {
    margin: 5% 0% 0% 0%;
  }

  .index-btns {
    position: relative;
  }

  .index-btn {
    flex: 0.5;
    text-align: center;
  }
  .index_text {
    font-size: 90%;
  }

  .landscape_image {
    width: 90%;
  }

  .faq-question {
    width: 80%;
  }

  .faq-question:hover {
    width: 80%;
  }

  .question_p {
    text-align: center;
    width: 140%;
  }

  .faq-answer {
    margin: 0 auto;
    width: 80%;
    padding: 0;
    display: none;
  }
  .question_p {
    text-align: center;
    width: 100%;
  }

  .faq-divider {
    width: 100%;
  }

  /*ABOUT_PAGE*/
  .story_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .main_img {
    margin-top: 10%;
  }

  .stream_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px -25px;
  }
}
