.buy-btn-container {
    border: none;
    background: black;
}


.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
    background-color: black;
    z-index: 9999;
    padding: 20px;
    overflow-y: auto;
    border-left: 1px solid #11b0e1;
}

.exit-container {
    margin: 10px 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.exit {
    border: none;
    padding: 0;
    background: black;
}

.close-cart {
    background-color: black;
    width: 25px;
}
.cart-container.hidden {
    display: none;
    visibility: hidden;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.cart-movie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 0px;
    flex: 1;
}

.cart-movie-item {
    flex: 1;
    /* margin: 0 5%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cart-movie-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 40px;
    font-size: 15px;
}

.cart-movie-image {
    width: 100%;
}

.checkout-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10% 0%;
}

.remove-btn {
    margin-left: auto;
}

/*
Cart_BROWSEINDEX
*/

.bottom-movie-card-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    line-height: 0.5;
    width: 175px;
}

.browseindex-cart-btn {
    background: none;
    border: none;
}

.pricewrapper,
.browseindex-cart-btn {
    flex: 1;
    padding: 0px 5px;
    width: 60px;
    font-size: 17px;
}

.browseindex-cart-btn {
    width: 50px;
    height: auto;
    padding: 0;
}

/*.bottom-movie-card-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    line-height: 0.5;
    width: 150px;
}*/

@media only screen and (max-width: 600px) {

    .cart-container {
        width: 40%;
    }

}