#footer {
    width: 100vw;
    margin-top: 75px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.footer-links {
    text-align: center;
    text-decoration: none;
}

.footer-piece {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
}

.footer-attribution {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 3% 0%;
}

.footer-element {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 95%;
}

.contact-icon {
    width: 20px;
}

.footer-atribution-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.attr-text {
    flex: 1;
    font-size: 90%;
}
